<mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>CU Geek Life</span>
      <span class="example-spacer"></span>
      <button routerLink="club-directory" routerLinkActive="active" mat-raised-button style="margin-right: 10px">Club Directory</button>
      <button routerLink="add-club" routerLinkActive="active" mat-raised-button>Add a Club</button>
    </mat-toolbar>