/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-cugold {
    background-color: #CFB87C;
    color: #fff;
}
.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }